@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-foreground: #ffffff;
  --color-secondary: #c4b5fd;
  --color-accent: #f43f5e;
  
  --font-cairo: "Cairo", sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
  }
  
  .dark {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

body {
  font-family: var(--font-cairo);
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent;
  }
  
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
  
  .dark .glass {
    @apply bg-black/50 border-white/10;
  }
}